@import "variables";
@import "mixins";

ow-hero-list {
    display: block;
    padding-left: 1rem;
    left: 0;
    box-sizing: border-box;

    ul, li {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        float: left;
        padding-left: 10px;
    }
    width: @opponentListSize;
}

ow-hero-list.player-heroes {
    width: @opponentListSize;

    .list {
        ow-player-hero-rating {
            display: block;
            position: relative;
            z-index: 1;
        }
    }
}
ow-hero-list.opponents {
    .fixed;
}
