@import "variables";
@import "mixins";

ow-hero-list {
    display: block;
    padding-left: 1rem;
    left: 0;
    box-sizing: border-box;

    ul, li {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        height: 3rem;
        width: 50%;
        float: left;

        button {
            display: block;
            text-decoration: none;
            height: 100%;
            width: 100%;
        }
        img {
            float: left;
            height: inherit;
            vertical-align: middle;
        }
        .detail-wrapper {
            display: inline-block;
            padding-left: 1rem;
            vertical-align: middle;
        }
    }

    width: @opponentListSize;
}

ow-hero-list.player-heroes {
    width: @opponentListSize;

    .list {
        ow-player-hero-rating {
            display: block;
            position: relative;
            z-index: 1;
        }
    }
}
ow-hero-list.opponents {
    .fixed;
}
