body, html {
    background: black;
    font-family: Verdana, Arial, sans-serif;
    color: white;
}

ow-hero-list {
    h2{
        font-size:1rem;
    }
    li {
        list-style-type: none;
        margin: 0 ;
        padding: 0.5rem;
        box-sizing: border-box;
        float: left;
        width: 100% / 8;
        img{
            max-width:100%;
        }
        p{
            min-height: 4em;
            font-size: 0.8rem;
        }
    }
}
