@import 'mixins';

@linkColor: rgb(0, 150, 255);
@enemyColor: rgb(200, 50, 50);
@opponentListSize: 20vw;

body, html {
    font-size: 85%;
    padding: 0;
    margin: 0;
    background: black;
    font-family: Verdana, Arial, sans-serif;
    color: white;
    line-height: 1.2rem;
}

body {
    padding: 1rem;
}

small {
    font-size: 0.75rem;
}

a {
    color: @linkColor;
}
main{
    margin-left: @opponentListSize + 1;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    ul, li {
        margin: 0;
    }
    li {
        list-style-type: none;
        display: inline-block;
        padding-right: 2rem;
    }
}

ow-hero-list {
    display: block;

    width:@opponentListSize;
    position: absolute;
    top:0;
    left:0;
    .hero-name {
        display: block;
        font-size: 1vw;
        white-space: nowrap;
        //background: rgba(0, 30, 75, .6);
        text-shadow: 1px 1px black;
        padding: 0.5vw 0.2vw;
    }
    ul {
        margin: 0;
        padding: 1rem;
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }
    li {
        list-style-type: none;
        margin: 0;
        padding:0;
        box-sizing: border-box;
        height: 90vh/22;
        position: relative;
        a {
            display: block;
            text-decoration: none;
            color: white;
            height:100%
        }
        img {
            float:left;
            height: inherit;
            vertical-align: middle;
        }
        .hero-detail-wrapper {
            display: inline-block;
            padding-left:1rem;
            vertical-align: middle;
        }
        &.selected {
            #gradient.horizontal(@enemyColor, transparent);
        }
        &.disabled {
            opacity: .4;
        }
    }
    input[type="search"] {
        width: calc(100% - 2rem);
    }
    button {
        background: transparent;
        margin: 0;
        padding: 0;
        border: none;
        color: white;
        text-align: left;
    }
}

.selected-heroes {
    box-sizing: border-box;
    .hero-name {
        margin-top: 0;
    }
    img {
        max-width: 4vw;
        display: block;
    }
    ul, li {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        float: left;
        padding-left: 10px;
    }
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;

}
//
//@media screen and (orientation: landscape) {
//    ow-hero-list {
//        li {
//            width: 8vw;
//        }
//    }
//}
//
//@media screen and (orientation: portrait) {
//    ow-hero-list {
//        li {
//            width: 15vw;
//        }
//        .hero-name {
//            display: none;
//        }
//    }
//}

.recommendation {
    ul, li {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
        float: left;
        position: relative;
        width:9vw;
        padding:.5vw;
        img{
            max-width:100%;
        }
        .score{
            font-size:5vw;
            color:@linkColor;
            position: absolute;
            top:5%;
            right:5%;

            text-shadow: 2px 2px 0 black;
        }
    }

    .avoid{
        li{
            .score{
                color:@enemyColor;
            }
        }
    }
}
