@import "variables";
@import "mixins";

ow-map-list {
    .fixed;
    width: @mapListSize;
    box-sizing: border-box;
    padding-left:1rem;
    left: @opponentListSize;

    .modeO {
        //#gradient.horizontal(@owRed, transparent);
        button{
            color: @owRed;
        }
    }
    .modeD {
        //#gradient.horizontal(@owBlue, transparent);
        button{
            color: @owBlue;
        }
    }
    .modeKOTH {
        //#gradient.horizontal(@midPurple, transparent);
        button{
            color: @midPurple;
        }
    }
    button.clear{
        top:@headerHeight + @mapListHeightSize;
    }
}
@media screen and (max-width: 1023px) {
    ow-map-list{
        button.clear{
            top: ~"calc(@{recommendationTop} - 1rem)";
        }
    }

}

