ow-player-hero-rating {
    .list {
        li {
            height: auto;
            width: 100%;
            margin-bottom: .4rem;
            img {
                width: 2rem;
            }
            input {
                display: block;
            }

            .rating-display {
                position: absolute;
                top: 0;
                right: 0;
                line-height: 3rem;
            }
        }
    }
}
