<!--<input type="search"-->
       <!--ng-model="search"-->
       <!--placeholder="find a hero by name, type or description">-->

<ul class="list">
    <li ng-repeat="hero in $ctrl.heroes | filter: search | orderBy: 'type'" ng-class="{
    'selected': $ctrl.selectedHeroes[hero.id],
    'disabled' : !$ctrl.selectedHeroes[hero.id] && $ctrl.maxReached
    }">
        <a ng-click="$ctrl.selectHero(hero)" href="javascript:void()">
            <img ng-src="{{hero.avatar}}"/>
            <div class="detail-wrapper">
                <span class="name">{{hero.name}}</span>
                <!--<div class="hero-detail">-->
                    <!--<p>{{hero.type}}: {{hero.description}}</p>-->
                <!--</div>-->
            </div>
        </a>
    </li>
</ul>
