<header>
    <img class="logo" src="/dist/media/overwatch_03_flat.svg">
    <button class="hamburger" ng-click="navOpened = !navOpened">Player settings</button>
    <nav class="nav" ng-class="{open : navOpened}">
        <ow-player-hero-rating heroes-rating="$ctrl.heroesRating" ></ow-player-hero-rating>
    </nav>
</header>
<main class="content">
    <ow-hero-list class="opponents" selected-heroes="$ctrl.selectedHeroes"></ow-hero-list>
    <ow-map-list selected-map="$ctrl.selectedMap"></ow-map-list>
    <div class="recommendation" ng-show="$ctrl.heroesList.length ">
        <ul class="recommended clearfix">
            <li ng-repeat="hero in $ctrl.heroesList | filter: $ctrl.recommendedFilter | limitTo: $ctrl.heroLimit ">
                <img ng-src="{{ hero.avatar }}" />
                <ow-hero-picker-score
                        final="$ctrl.heroFinalScore[hero.id]"
                        counter="$ctrl.heroCounterScore[hero.id]"
                        map="$ctrl.heroMapScore[hero.id]"></ow-hero-picker-score>
            </li>
        </ul>
        <button ng-click="$ctrl.heroLimit = null" ng-show="$ctrl.heroLimit !== null">View all ratings</button>
    </div>


</main>


