
<main class="content">
    <ow-hero-list selected-heroes="$ctrl.selectedHeroes"></ow-hero-list>
    <h2>Who do you want to counter? <small>(choose 1 to 6)</small></h2>
    <div class="recommendation" ng-show="$ctrl.heroesList.length">
        <h2>You should pick: </h2>
        <ul class="recommended clearfix">
            <li ng-repeat="hero in $ctrl.heroesList | filter: $ctrl.recommendedFilter">
                <img ng-src="{{hero.avatar}}" />
                <div class="score">{{$ctrl.abs($ctrl.heroCounterScore[hero.id])}}</div>
            </li>
        </ul>
        <h2>And Avoid picking: </h2>
        <ul class="avoid clearfix">
            <li ng-repeat="hero in $ctrl.heroesList |  filter: $ctrl.avoidFilter">
                <img ng-src="{{hero.avatar}}" />
                <div class="score">{{$ctrl.heroCounterScore[hero.id]}}</div>
            </li>
        </ul>
    </div>
</main>


