<main class="content">
    <ow-hero-list class="opponents" selected-heroes="$ctrl.selectedHeroes"></ow-hero-list>
    <ow-map-list selected-map="$ctrl.selectedMap"></ow-map-list>
    <div class="recommendation" ng-show="$ctrl.heroesList.length ">
        <ul class="recommended clearfix">
            <li ng-repeat="hero in $ctrl.heroesList | filter: $ctrl.recommendedFilter | limitTo:12">
                <img ng-src="{{ hero.avatar }}" />
                <ow-hero-picker-score
                        final="$ctrl.heroFinalScore[hero.id]"
                        counter="$ctrl.heroCounterScore[hero.id]"
                        map="$ctrl.heroMapScore[hero.id]"></ow-hero-picker-score>
            </li>
        </ul>

    </div>
    <button class="hamburger" ng-click="asideOpen = !asideOpen">Player settings</button>
    <aside ng-class="{open : asideOpen}">
        <ow-hero-list heroes-rating="$ctrl.heroesRating" ></ow-hero-list>
    </aside>
</main>


