<!--<input type="search"-->
       <!--ng-model="search"-->
       <!--placeholder="find a hero by name, type or description">-->

<ul class="list">
    <li ng-repeat="map in $ctrl.maps" class="{{'mode' + map.mode}}" ng-class="{
    'selected': $ctrl.selectedMap === map,
    'disabled' : $ctrl.selectedMap !== null && map !== $ctrl.selectedMap
    }">
        <button ng-click="$ctrl.selectMap(map)" >
            <img ng-src="{{map.image}}"/>
            <div class="detail-wrapper">
                <span class="name">{{map.name}}</span>
            </div>
        </button>
    </li>
</ul>
<button class="clear" ng-click="$ctrl.selectedMap = null">Reset</button>
