<ul class="list">
    <li ng-repeat="hero in $ctrl.heroes | orderBy: 'name'">
        <img ng-src="{{hero.avatar}}"/>
        <div class="detail-wrapper">
            <span class="name">
                {{hero.name}}
                <span class="pull-right">
                    (<span ng-show="$ctrl.heroesRating[hero.id] > 0">+</span>{{$ctrl.heroesRating[hero.id]}})
                </span>
            </span>
            <input type="range" min="-5" max="5" ng-model="$ctrl.heroesRating[hero.id]">
        </div>
    </li>
</ul>
